@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

                    /* banner */

#banner-section{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../images/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 582px;
}
.img-developer{
    margin-top: 100px;
}
.img-developer img{
    margin-top: 100px;
}

.banner-caption{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
text-align: center;
margin-top: 40px;
line-height: 68px;
}
.banner-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-top: 40px;

}
.btn-banner{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
width: 308px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
margin-top: 40px;
padding: 21px 24px 21px 24px;
cursor: pointer;
}

        /* Q&A */
#QA-section{
width: 1140px;
height: 1395px;
margin: 0 auto;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
margin-top: 80px;
}
.QA-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding: 30px;
}
.QA-description{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity: 0.7;
}

.help-box1-content, .help-box3-content{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 30%;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 50px;
}
.help-box-subject h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-top: 30px;
    padding-left: 30px;
}
.help-box-subject p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.help-box-btn{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
box-sizing: border-box;
margin: 32px 30px;
padding: 12px 20px 12px 20px;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
cursor: pointer;
}
.help-box1-img, .help-box3-img{
    width: 80%;
    margin-top: 30px;
    
}
.help-box2-content{
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 30px 10px 30px 150px;
    }
.help-box2-subject{
    width: 477px;
    margin-right: 50px;
    }
.help-box2-subject h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-top: 50px;
    }
    .help-box2-subject p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin-top: 20px;
    }

    .help-box2-img{
    width: 240px;
    height: 240px;}

    .help-box2-img img{
    position: absolute;
    right: 65%;
    z-index: 1;
    top: 200%;
    }

    /* inspiration */

    #inspiration-section{
        width: 1140px;
        height: 775px;
        margin: 0 auto;
    }
    .inspiration-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inspiration-content h1{
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        color: rgb(13, 19, 33);
        margin-bottom: 30px;
    }
.inspiration-content p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
margin-bottom: 50px;
opacity: 0.7;
    }
.video{
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 20px;
}

/* current target */

#current-target-section{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
   margin-top: 70px;
}
.current-target-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-target-content h1{
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 30px;
        text-align: center;
        color: rgb(13, 19, 33);
    }
.current-target-content p{
font-size: 16px;
font-weight: 400;
margin-bottom: 50px;
opacity: 0.7;
color: rgb(13, 19, 33);
text-align: center;
    }
.current-target-card{
    width: 1140px;
    height: 299px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}
.HTML-card{
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
padding: 40px;
}
.HTML-card img{
    margin-top: 20px;
}
.HTML-card h2{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
text-align: left;
margin-top: 10px;
}
.HTML-card p{
color: rgb(13, 19, 33);
margin-top: 10px;
font-size: 16px;
font-weight: 400;
text-align: left;
opacity: 0.7;
}

.CSS-card{
   
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    }
    .CSS-card img{
        margin-top: 20px;
    }
    .CSS-card h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    }
    .CSS-card p{
    color: rgb(13, 19, 33);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    }

    .JS-card{
        border-radius: 16px;
        background: rgba(255, 223, 0, 0.05);
        padding: 40px;
        }
        .JS-card img{
            margin-top: 20px;
        }
        .JS-card h2{
        color: rgb(13, 19, 33);;
        font-size: 24px;
        font-weight: 800;
        text-align: left;
        margin-top: 20px;
        }
        .JS-card p{
        color: rgb(13, 19, 33);
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        opacity: 0.7;
        }

        /* support */

#support-section{
width: 1140px;
height: 313px;
margin: 0 auto;
margin-top: 200px;
background-image:linear-gradient(180.00deg, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2) 100%), url("../images/handshake.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    }

.support-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
.support-content h1{
color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
text-align: center;
margin-top: 50px;
}
.support-content p{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 20px;
}
#feedback{
width: 548px;
height: 57px;
color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
text-align: center;
background: rgb(255, 255, 255);
border-radius: 8px;
border: 1px solid rgba(13, 19, 33, 0.15);
margin-top: 30px;
}
#submit{
width: 120px;
height: 57px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
border-radius: 8px;
background: rgb(255, 255, 255);
cursor: pointer;
}